body {
    font-family: 'consolas'; 
    background-image: url(./assets/topography.png);
    background-repeat: repeat;
}

a:link{
    color: #ff0099;
}

a:visited{
    color: #ff0099;
}
a:hover{
    color: #ffffff;
}

.navigation{
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #333333;
    padding: 5px 10% 5px 10%;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

li {
    color: #ff0099;
    margin-right: 10%;
}

.content{
    padding: 10%;
}

h1{
    font-size: 4rem;
    font-family: 'Courier Prime', monospace;
}

h2{
    color: #ff0099; 
    font-size: 2rem; 
    font-family: 'Courier Prime', monospace;
}

.aboutme{
    font-size: 1.2rem;
    font-weight: 200;
}

.separator{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.dash{
    font-size: 1.2rem;
    font-weight: 600;
}

h3{
    font-size: 3rem ;
    font-family: 'Courier Prime', monospace;
    text-align: center;
}

dt{
    font-size: 2rem; 
    font-family: 'Courier Prime', monospace;
    font-weight: 600;
}

dd{
    margin-inline-start: 0px;
}